<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>

    <modules>
      <remove name="WebDAVModule" />
    </modules>

    <handlers>
      <remove name="WebDAV" />
    </handlers>

    <security>
      <requestFiltering>
        <verbs allowUnlisted="true">
          <remove verb="TRACE" />
          <add verb="TRACE" allowed="false" />
        </verbs>
        <requestLimits maxAllowedContentLength="2147483648" />
      </requestFiltering>
    </security>

    <rewrite>
      <outboundRules>
        <preConditions>
          <preCondition name="IsCorsPreflight">
            <add input="{REQUEST_METHOD}" pattern="^OPTIONS$" />
            <add input="{HTTP_ORIGIN}" pattern=".+" />
          </preCondition>
        </preConditions>

        <rule name="CORS preflight - Allow-Origin" preCondition="IsCorsPreflight">
          <match serverVariable="RESPONSE_Access-Control-Allow-Origin" pattern=".*" />
          <action type="Rewrite" value="{HTTP_ORIGIN}" />
        </rule>
        <rule name="CORS preflight - Allow-Methods" preCondition="IsCorsPreflight">
          <match serverVariable="RESPONSE_Access-Control-Allow-Methods" pattern=".*" />
          <action type="Rewrite" value="GET, HEAD, POST, PUT, PATCH, DELETE, OPTIONS" />
        </rule>
        <rule name="CORS preflight - Allow-Headers" preCondition="IsCorsPreflight">
          <match serverVariable="RESPONSE_Access-Control-Allow-Headers" pattern=".*" />
          <action type="Rewrite" value="{HTTP_ACCESS_CONTROL_REQUEST_HEADERS}" />
        </rule>
        <rule name="CORS preflight - Max-Age" preCondition="IsCorsPreflight">
          <match serverVariable="RESPONSE_Access-Control-Max-Age" pattern=".*" />
          <action type="Rewrite" value="600" />
        </rule>
        <rule name="CORS preflight - Vary" preCondition="IsCorsPreflight">
          <match serverVariable="RESPONSE_Vary" pattern=".*" />
          <action type="Rewrite" value="Origin" />
        </rule>
      </outboundRules>
    </rewrite>

    <httpProtocol>
      <customHeaders>
        <add name="X-Elameed-Webconfig" value="r5" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
